<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/logo/logo.png" rel="shortcut icon">
    <link href="/static/styles/bootstrap.css" rel="stylesheet">
    <link href="/static/styles/bootstrap.rtl.css" rel="stylesheet">
    <link href="/static/styles/custom.css" rel="stylesheet">
    <script defer src="/static/js/bootstrap.bundle.js"></script>
    <script defer src="/static/js/bootstrap.js"></script>
    <title>Автопарк</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" disabled href="/" style="color:grey" aria-disabled="true">Автопарк</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" style="color:white" href="#">Тех. осмотры</a>
            </div>
        </div>
    </div>
</nav>

<form class="row g-3 form-one">
    <h1>Тех. осмотры</h1>

    <div class="col-12">
        <a type="submit" class="btn btn-primary" href="/techins/add">Добавить</a>
        <a type="button" class="btn btn-warning" href="/">На главную</a>
        <a type="button" class="btn btn-info" href="/cars">Автомобили</a>
    </div>

    <div class="col-12 form-three">
        <p class="label-one">List</p>
    </div>


    <table class="form-two">
        <tr><td>Номер тех. карты</td><td>Дата тех. осмотра</td><td>Замечания</td><td></td></tr>
        <tr><td><div th:each="techInspection : ${techInsForm}" class="col-12">
            <p th:href="@{/techins/{id}(id=${techInspection.getId()})}" th:text="${techInspection.getCardNumber()}"></p></div></td>

            <td><div th:each="techInspection : ${techInsForm}" class="col-12">
                <p th:href="@{/techins/{id}(id=${techInspection.getId()})}" th:text="${techInspection.getDateInspections()}"></p></div></td>

            <td><div th:each="techInspection : ${techInsForm}" class="col-12">
                <p th:href="@{/techins/{id}(id=${techInspection.getId()})}" th:text="${techInspection.getComments()}"></p></div></td>

            <td>
                <div th:each="techInspection : ${techInsForm}" class="col-12">
                    <a type="submit" class="btn btn-primary form-six" th:href="@{/techins/edit/{id}(id=${techInspection.getId()})}">Редактировать</a>
                    <a type="button" class="btn btn-danger form-seven" th:href="@{/techins/delete/{id}(id=${techInspection.getId()})}">Удалить</a></div></td></tr>
    </table>
</form>
</body>
</html>