<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/logo/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Автопарк</title>
</head>
<body>
<header>
    <a class="key" th:href="@{/}">Главная</a>
    <a class="key" th:href="@{/techins/add}">Добавить</a>
    <a href="/cars" class="underline-one">Автомобили</a>
</header>
<form class="staticForm">
    <p><u>Номер тех. карты: </u><nobr th:text="' '+${techInsForm.getCardNumber()}"></nobr></p>
    <p><u>Дата тех. осмотра: </u><nobr th:text="' '+${techInsForm.getDateInspections()}"></nobr></p>
    <p><u>Замечания: </u><nobr th:text="' '+${techInsForm.getComments()}"></nobr></p>
    <p><u>Автомобиль: </u><nobr th:text="' '+${techInsForm.getCarsModel()}"></nobr></p>

    <hr class="hr-vertical-gradient">

    <p></p>

    <div class="keysblock">
        <a th:href="@{/techins/edit/{id}(id=${techInsForm.getId()})}" class="link">Редактировать данные</a>
        <a th:href="@{/techins/delete/{id}(id=${techInsForm.getId()})}" class="link">Удалить данные</a>
        <a href="/techins" class="link">Отмена</a>
        <p></p>
    </div>
</form>
</body>
</html>