<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/logo/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Автопарк</title>
</head>
<body>
<header>
    <a href="/cars" class="underline-one">Автомобили</a>
    <a href="/techins" class="underline-one">Тех. осмотры</a>
</header>
<h3>Добавление автомобиля</h3>
<form th:method="POST" th:action="@{/cars/add}" th:object="${carForm}" enctype="multipart/form-data">
    <p><label for="one">Год выпуска: </label></p>
    <input type="text" th:field="*{productionDate}" id="one">
    <div class="incorrectFieldForm" style="color: red; background: white" th:if="${#fields.hasErrors('productionDate')}" th:errors="*{productionDate}"></div>

    <p><label for="two">Модель: </label></p>
    <input type="text" th:field="*{model}" id="two">
    <div class="incorrectFieldForm" style="color: red; background: white" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></div>

    <p><label for="three">Гос. номер: </label></p>
    <input type="text" th:field="*{stateNumber}" id="three">
    <div class="incorrectFieldForm" style="color: red; background: white" th:if="${#fields.hasErrors('stateNumber')}" th:errors="*{stateNumber}"></div>

    <p><label for="four">Дата постановки на учёт: </label></p>
    <input type="date" th:field="*{registerDate}" id="four">
    <div class="incorrectFieldForm" style="color: red; background: white" th:if="${#fields.hasErrors('registerDate')}" th:errors="*{registerDate}"></div>

    <p></p>
    <div class="incorrectFieldForm" style="color: red; font-size: 25px; text-align: center" th:text="${error}"></div>

    <div class="keysblock">
        <input type="submit" value="Сохранить" class="key">
        <a href="/cars" class="link">Назад</a>
        <p></p>
    </div>
</form>
</body>
</html>