<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/logo/logo.png" rel="shortcut icon">
    <link href="/static/styles/bootstrap.css" rel="stylesheet">
    <link href="/static/styles/bootstrap.rtl.css" rel="stylesheet">
    <link href="/static/styles/custom.css" rel="stylesheet">
    <script defer src="/static/js/bootstrap.bundle.js"></script>
    <script defer src="/static/js/bootstrap.js"></script>
    <title>Автопарк</title>
</head>
<body>
<div class="row g-3 form-eight">
    <h3>Форма редактирования карточки автомобиля</h3>
    <form class="row g-3 form-nine" th:method="POST" th:action="@{/cars/edit/{id}(id=${carForm.getId()})}" th:object="${carForm}" enctype="multipart/form-data">
        <label for="one">Год выпуска: </label>
        <input class = "input-one" type="text" th:field="*{productionDate}" id="one">
        <div class="incorrectFieldForm" style="color: red; background: white" th:if="${#fields.hasErrors('productionDate')}" th:errors="*{productionDate}"></div>
        <label for="two">Модель: </label>
        <input class = "input-one" type="text" th:field="*{model}" id="two">
        <div class="incorrectFieldForm" style="color: red; background: white" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></div>
        <label for="three">Гос. номер: </label>
        <input class = "input-one" type="text" th:field="*{stateNumber}" id="three">
        <div class="incorrectFieldForm" style="color: red; background: white" th:if="${#fields.hasErrors('stateNumber')}" th:errors="*{stateNumber}"></div>
        <label for="four">Дата постановки на учёт: </label>
        <input class = "input-one" type="date" th:field="*{registerDate}" id="four">
        <div class="incorrectFieldForm" style="color: red; background: white" th:if="${#fields.hasErrors('registerDate')}" th:errors="*{registerDate}"></div>
        <p></p>
        <div class="incorrectFieldForm" style="color: red; font-size: 25px; text-align: center" th:text="${error}"></div>
        <div class="col-12 btn-block">
            <input type="submit" class="btn btn-primary" value="Сохранить">
            <a type="button" class="btn btn-danger btn-user" href="/cars">Назад</a>
        </div>
    </form>
</div>
</body>
</html>