<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/logo/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Автопарк</title>
</head>
<body>
<header>
</header>
<h1>Отчёт</h1>
<div th:each="car : ${reportForm}" id="carList">
    <p><u>Всего автомобилей: </u><a th:href="@{/cars/report}" th:text="${car.CarsOld()+car.CarsYoung()}"></a></p>
    <p><u>Из них старше 3 лет: </u><a th:href="@{/cars/report}" th:text="${car.CarsOld()}"></a></p>
    <p><u>Новее 3 лет: </u><a th:href="@{/cars/report}" th:text="${car.CarsYoung()}"></a></p>
</div>
    <hr class="hr-vertical-gradient">

    <p></p>

    <div class="keysblock">
        <a href="/cars" class="link">Назад</a>
        <p></p>
    </div>

</body>
</html>