<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/logo/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Автопарк</title>
</head>
<body>
<header>
    <a class="key" th:href="@{/cars/add}">Добавить</a>
    <a class="key" th:href="@{/cars/report}">Отчёт</a>
    <a href="/techins" class="underline-one">Тех. осмотры</a>
</header>
<form class="staticForm">
    <p><u>Модель:</u><nobr th:text="' '+${carForm.getModel()}"></nobr></p>
    <p><u>Год выпуска:</u><nobr th:text="' '+${carForm.getProductionDate()}"></nobr></p>
    <p><u>Гос. номер:</u><nobr th:text="' '+${carForm.getStateNumber()}"></nobr></p>
    <p><u>Дата постановки на учёт:</u><nobr th:text="' '+${carForm.getRegisterDate()}"></nobr></p>
    <p><u>Техосмотры:</u><nobr th:text="' '+${carForm.getTechInspectionsModels()}"></nobr></p>

        <hr class="hr-vertical-gradient">

        <p></p>

        <div class="keysblock">
            <a th:href="@{/cars/edit/{id}(id=${carForm.getId()})}" class="link">Редактировать</a>
            <a th:href="@{/cars/delete/{id}(id=${carForm.getId()})}" class="link">Удалить</a>
            <a href="/cars" class="link">Отмена</a>
            <p></p>
        </div>
</form>
</body>
</html>